
.tech-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1px; 
  }
  
  .tech-item {
    display: flex;
    align-items: center;
    margin-bottom: 1px; 
  }
  
  .tech-item svg {
    margin-right: 5px; 
  }

  @media (max-width: 767px) {
  
    .tech-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }