
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

body {
    font-family: 'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #050a10;
    color: #fff;
    overflow-x: hidden; 
  }
  
  body::-webkit-scrollbar {
    width: 12px; 
  }
  
  body::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 6px; 
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); 
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    position: relative; 
    z-index: 1;
  }
  
  .header, .experience, .technologies, .hobbies, .footer {
    padding: 20px;
  }
  
  .experience-item, .tech-item {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
  
  }
  
  .ripple-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0; 
  }
  
  .ripple {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgb(127, 222, 254); 
    background: transparent;
    pointer-events: none;
    animation: ripple-animation 2s ease-out;
    transform: scale(0);
    opacity: 1;
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
